h1 {
    background-color: blanchedalmond;
    padding: 10px;
    border-radius: 10px;
}

.button{
    text-align: center;
    line-height: 150px;
    width: 150px;
    background: rgb(108, 172, 44);
    border: 5px solid rgb(12, 70, 27);
    border-radius: 40px;
    box-shadow: -8px 6px 10px rgb(95, 21, 62);
    transition: 1s;
}

button:hover{
    transform: scale(1.07);
}

#gameDiv{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: 5px dashed;
    border-radius: 10px;
    padding: 10px;
    background-color:steelblue;
 
}

#results{
    font-family: Geneva, Tahoma, sans-serif;
    text-align: center;
    border: 5px dashed;
    border-radius: 10px;
    padding: 25px;
    background-color:steelblue;
    margin-top: 10px;
 
}
